<footer>

	<p>
		<span style="text-align:right;float:right">&copy; Created by Team Pura (MIS 122 Project) SY 2016-2017</a></span>
		
	</p>

</footer>

<!-- start: JavaScript-->

		
	<!-- end: JavaScript-->