<footer id="footer">
	<div class="container">
		<div class="row">
			<!-- SOCIAL ICONS -->
			<div class="col-sm-6 col-sm-push-6 footer-social-icons">
				<span>Get in touch with us!</span>
				<a href=""><i class="fa fa-envelope-o"></i></a>
				<a href=""><i class="fa fa-mobile"></i></a>
			</div>
			<!-- /SOCIAL ICONS -->
			<div class="col-sm-6 col-sm-pull-6 copyright">
				<p>&copy; 2016 Crate2Plate</p>
			</div>
		</div>
	</div>
</footer>