
	
<ul style="position: fixed; bottom: 0; width: 100%; display: inline; background-color: black; list-style-type: none; padding: 20px; margin: 0">
	<li style="display: inline; color:#FFFFFF">&copy; 2016 Crate2Plate</li>
	<li style="display: inline; text-align: center; float: right; color: white; padding-right: 20px"><i class="fa fa-mobile"></i></li>
	<li style="display: inline; text-align: center; float: right; color: white; padding-right: 20px"><i class="fa fa-envelope-o"></i></li>
	<li style="display: inline; text-align: center; float: right; color: white; padding-right: 20px"><span>Get in touch with us!</span></li>
	
	
</ul>

 <!--
	<footer id="footer" style="bottom:0">
		<div class="container">
			<div class="row">
				<div class="row-sm-6" style="padding-right: 20px; text-align: right">
					<ul style="list-style-type: none; display: inline">
						<li style="float:left"><p>&copy; 2016 Crate2Plate</p></li>
						<li><span>Get in touch with us!</span></li>
						<li><a href=""><i class="fa fa-envelope-o"></i></a></li>
						<li><a href=""><i class="fa fa-mobile"></i></a></li>
						
				</div>

				<div class="col-sm-6 col-sm-pull-6 copyright" style="display: inline;">
					
				</div>
			</div>
		</div>
	</footer>

-->