<header style="background-color: #FFFFFF; position: fixed; top: 0; width: 100%;">
	
		<div class="container">
			<div class="navbar-header st-navbar" style="background-color: #FFFFFF; margin:0; padding:0; overflow: hidden; padding-right: 20px; height:100%">
				
				<ul class="nav navbar-nav" style="list-style-type: none; position: fixed; background-color: #FFFFFF; ; width: 100%; text-align: center; padding: 10px; margin:0">
					<li style="display:inline; float:left; text-align: left"><a class="logo" href="#home""><%= image_tag("web-logo.png", :width=>"20%", :padding=>"10px", :alt=>"") %></a></li>
					<li style="display:inline; float:right;"><a href="#products">Log In</a></li>
					<li style="display:inline; float:right;"><a href="#pricing">Contact Us</a></li>
					<li style="display:inline; float:right;"><a href="#our-works">FAQ</a></li>
					<li style="display:inline; float:right;"><a href="#services">About Us</a></li>
					<li style="display:inline; float:right;"><a href="#header">Order</a></li>
					
					
					
					
				</ul>
			</div>


		</div>

</header>

<!--



<div class="w3-top" style="margin-top:18px, color:#f5f5f5">
	<div class="w3-bar" id="myNavbar">
		<a href="#home" class="w3-bar-item w3-button w3-hover-light-grey"><%= image_tag("web-logo.png", :width=>"30%", :alt=>"") %></a>
		<span></span>
		<div class="w3-right">
			<ul class="w3-bar-item">
				<li><a href="#header">Order</a></li>
				<li><a href="#services">About Us</a></li>
				<li><a href="#our-works">FAQ</a></li>
				<li><a href="#pricing">Contact Us</a></li>
				<li><a href="#products">Log In</a></li>
			</ul>
		</div>
	</div>
</div>

-->
